{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}

<!-- Altair plot placeholder -->
<div class="container-fluid">
    <div class="row" style="justify-content: center">
        <div class="col-12" style="justify-content: center">
            <!-- Placeholder for map-->
            <h1>What are the global treands in vaccination by manufacturer?</h1>
            <p style="font-size:22px;">This graph aims to show what are the trends in percentage of vaccines by manufacturer. Please select a country from the selector.</p>
            <div id="geo"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-12" style="justify-content: center">
            <!-- Placeholder for the global-cases plot-->
            <h1>What percent of the population is vaccinated and with which vaccine?</h1>
            <p style="font-size:22px;">This graph shows a bar chart of a countries vaccination rate by vaccine type. Use the slider to see changes in vaccination rates since December 24, 2020.</p>
            <div id="global-cases"></div>
        </div>
    <hr>
    <div class="row">
        <!-- Placeholder for global-time series -->
        <div id="global-cases"></div>
    </div>
    <!-- Placeholder for the tooltip -->
    <div id="vis-tooltip" class="vg-tooltip"></div>
</div>




<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: { export: true, source: false, editor: false }
        };
        vegaEmbed("#" + div, url, opt, function (error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    //Parse your Json variable here
    parse({{ context.plot_geo_analysis | safe }}, "geo")
    parse({{ context.plot_global_cases_per_country | safe }}, "global-cases");
</script>
{% endblock my_content %}