{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}

<!-- Altair plot placeholder -->
<div class="container-fluid">
    <div class="row" style="justify-content: center">
        <div class="col-12" style="justify-content: center">
            <!-- Placeholder for map-->
            <h2>What are the global treands in vaccination by manufacturer?</h2>
            <p>This graph aims to show what are the trends in percentage of vaccines by manufacturer.</p>
            <div id="date-deaths"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-12" style="justify-content: center">
            <!-- Placeholder for the global-cases plot-->
            <h2>What percent of the population is vaccinated and with what vaccine?</h2>
            <p>This graph shows a bar chart over time of the percentage of a countries population vaccinated over time by vaccine type.</p>
            <div id="date-vacines"></div>
        </div>
    </div>

    <div class="row" style="justify-content: center">
        <div class="col-12" style="justify-content: center">
            <!-- Placeholder for map-->
            <h2>What are the global treands in vaccination by manufacturer?</h2>
            <p>This graph aims to show what are the trends in percentage of vaccines by manufacturer.</p>
            <div id="global-cases"></div>
        </div>
    </div>
    </div>




<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: { export: true, source: false, editor: false }
        };
        vegaEmbed("#" + div, url, opt, function (error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    //Parse your Json variable here
    parse({{ context.date_deaths | safe }}, "date-deaths")
    parse({{ context.date_vaccines | safe }}, "date-vacines")
    parse({{ context.death_vax | safe }}, "global-cases");
</script>
{% endblock my_content %}