{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}
<!-- Confirmed, Recovered, Deaths Card -->
<div class = "row">
    <h1>Global Cases, Deaths, and Vaccines</h1> 
    
    <p>Adding some paragraphs</p>
</div>
<!-- Altair plot placeholder -->
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <!-- Placeholder for map-->
            <div id="date-deaths"></div>
        </div>
        <div class="col"> </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <div id="date-vax"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-9">
            <div id="death-vax"></div>
    </div>
    <!-- Placeholder for the tooltip -->
    <div id="vis-tooltip" class="vg-tooltip"></div>
</div>
<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: { export: true, source: false, editor: false }
        };
        vegaEmbed("#" + div, url, opt, function (error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    //Parse your Json variable here
    parse({{ context.date_deaths| safe }}, "date-deaths")
    parse({{ context.date_vaccines| safe }}, "date-vax")
    parse({{ context.death_vax| safe }}, "death-vax");
    // parse({{ context.plot_global_time_series | safe }}, "global-time")
    // parse({{ context.plot_geo_analysis | safe }}, "geo");
</script>
{% endblock my_content %}