{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}

<!-- Altair plot placeholder -->
<div class="container-fluid">
    <div class="row" style="justify-content: center">
        <div style="text-align:center" class="col-12" style="justify-content: center">
            <h1 style="font-size:70px;">COVID-19 by Continent</h1>
            <p>&nbsp;</p> 
            <p></p> 
            <!-- Placeholder for map-->
            <h2>What are the trends in COVID-19 cases, deaths, and vaccines by continent?</h2>
            <p style="font-size:22px;">Use the toggle tool to shuffle between continents.</p>
            <div id="continent-graphs"></div>
        </div>
    </div>
</div>




<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: { export: true, source: false, editor: false }
        };
        vegaEmbed("#" + div, url, opt, function (error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    //Parse your Json variable here
    parse({{ context.continent_graphs | safe }}, "continent-graphs");
</script>
{% endblock my_content %}