{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}

<!-- Altair plot placeholder -->
<div class="container-fluid">
    <div class="row" style="justify-content: center">
        <div style="text-align:center" class="col-12" style="justify-content: center">
            <!-- Placeholder for map-->
            <h1 style="font-size:60px;">COVID-19 Tracker : International, State and Continental Data</h1>
            <p>&nbsp;</p> 
            <p></p>
            <img src="static/images/new_image.jpg">
            <p>&nbsp;</p> 
            <p></p>


        
        </div>
    </div>
</div>

  




{% endblock my_content %}