{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}

<!-- Altair plot placeholder -->
<div class="container-fluid">
    <div class="row" style="justify-content: center">
        <div class="col-12" style="justify-content: center">
            <!-- Placeholder for map-->
            <h1>What are the state level vaccine trends?</h1>
            <p style="font-size:22px;">This graph shows the percentage of the population that has been fully vaccinated at the state level.</p>
            <div id="global-cases"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-12" style="justify-content: center">
            <!-- Placeholder for the global-cases plot-->
            <h1>What are the vaccine trends for your state or territory?</h1>
            <p style="font-size:22px;">This graph shows the trajectory of people fully vaccinated at the state level. To use, please select a state or territory.</p>
            <div id="geo"></div>
        </div>
    <hr>
    <div class="row">
        <!-- Placeholder for global-time series -->
        <div id="geo"></div>
    </div>
    <!-- Placeholder for the tooltip -->
    <div id="vis-tooltip" class="vg-tooltip"></div>
</div>




<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: { export: true, source: false, editor: false }
        };
        vegaEmbed("#" + div, url, opt, function (error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    //Parse your Json variable here
    parse({{ context.state_vax | safe }}, "geo")
    parse({{ context.map | safe }}, "global-cases");
</script>
{% endblock my_content %}